<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head') %>

  <!-- cuerpo de la pagina -->
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	  
      <!-- Navbar -->
      <%- include('./partials/navbar') %>

      <!-- Imagen principal y nombre completo-->
      <%- include('./sections/section-1-main-banner') %>

      <!-- Info y data sobre mi -->
      <%- include('./sections/section-2-about-me') %>

        <!-- Resumen laboral -->
      <%- include('./sections/section-3-resume-jobs') %>

        <!-- Mis servicios laborales -->
      <%- include('./sections/section-4-services') %>

        <!-- Mis habilidaes en sistemas -->
      <%- include('./sections/section-5-skills') %>
        
      <!-- Mis proyectos -->
      <%- include('./sections/section-6-my-projects') %>	

        <!-- Mis posteos en blog -->
      <%- include('./sections/section-7-blog') %>	

      <!-- Mis logros -->
      <%- include('./sections/section-8-awards') %>	
        
        <!-- Contratame-->
      <%- include('./sections/section-9-freelancing') %>	
      
      <!-- Contratame-->
      <%- include('./sections/section-10-contact') %>	
        
      <!-- Footer -->
      <%- include('./partials/footer') %>
        
      <!-- Scripts para que funciones los efectos -->
      <%- include('./partials/scripts') %>
    
  </body>
</html>